#loading{
	background-color: rgb(255, 200, 0);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
	animation: breath 4s infinite;
	-webkit-animation: breath 4s infinite;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg); 
	-webkit-transform: rotate(-135deg); 
	transform: rotate(-135deg);
}
.loading-object{
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;	
}
#loading-object-one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
	border-top-color: red;
	border-left-color: red;
}
#loading-object-two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	border-top-color: blue;
	border-left-color: blue;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
#loading-object-three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	border-top-color: green;
	border-left-color: green;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
#loading-object-four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	border-top-color: black;
	border-left-color: black;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}	
@-webkit-keyframes animate {
50% {
	-ms-transform: rotate(360deg) scale(0.8);
	-webkit-transform: rotate(360deg) scale(0.8);
	transform: rotate(360deg) scale(0.8);
  }
}
@keyframes animate {
50% {
	-ms-transform: rotate(360deg) scale(0.8);
	-webkit-transform: rotate(360deg) scale(0.8);
	transform: rotate(360deg) scale(0.8);
  }	
}
@-webkit-keyframes breath {
50% {background-color: rgba(255, 240, 0, 0.8);}
}
@keyframes breath {
50% {background-color: rgba(255, 240, 0, 0.8);}	
}


body {
	background-image:url('../img/bg.jpg');
}
#content {
	margin-top:70px;
	margin-bottom:30px;
}
.input-inverse {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255,255,255,0.4);
	color: rgba(255,255,255,0.7);
}
.input-inverse:focus {
	color: rgba(255,255,255,0.9);
}
.separator {
	height: 2px;
    width: 95%;
    position: relative;
    left: calc(2.5% - 30px);
    margin: 30px;
    background-color: rgba(0,0,0,0.2);
}
div[pjax],a[pjax] {
	cursor:pointer;
}



.navbar-inverse .navbar-brand {
	font-weight:bold;
	color:#ddd;
}